{% extends 'base.html.twig' %}

{% block title %}Hello CommentController!{% endblock %}

{% block body %}
    {{ form_start(form) }}
    <button type="submit">Add Comment</button>
    {{ form_end(form) }}
{% endblock %}
