{% extends 'base.html.twig' %}

{% block body %}
<div class="container mb-3 mt-3">
	<h1 class="text-white">{{ post.title }}</h1>
	<p class="lead text-white">{{ post.message }}</p>
</div>
{% endblock %}